<!-- _file_fields.html.erb -->
<div class="field">
  <%= form.label :images, "画像" %>
  <%= form.file_field :images, multiple: true %>
</div>
<div class="field">
  <%= form.label :videos, "動画" %>
  <%= form.file_field :videos, multiple: true %>
</div>