/* オーバーレイのスタイル */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000; /* Popupよりも下に表示するために適切な値を設定 */
}

.overlay.active {
  display: block;
}

/* Popupのスタイル */
.form-popup {
  display: none;
  position: fixed;
  height: 80%;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 1100; /* オーバーレイよりも前面に表示 */
}

.form-popup.active {
  display: block;
}

.edit-form-popup {
  display: none;
  position: fixed;
  height: 80%;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 1100; /* オーバーレイよりも前面に表示 */
}

.edit-form-popup.active {
  display: block;
}