/* app\views\layouts\application.html.erb */
.header{
  background-color:blueviolet;
  height: 100px;
  display: flex;
  align-items:center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 10px 20px;
}
.logo-title{
  display: flex;
  align-items:center;
  text-decoration: none; /* 下線を消す */
}
.logo{
  background-color: white;
  height: 95px;
  width: 95px;
  background-image: url('logo.png');
  background-size: 120px;
  background-position: center;
  border-radius: 100px;
}
.title{
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  padding: 0 30px 0 30px;
  color:white;
}
.weather_forecast{
  background-color: white;
  height: 80px;
  width: 300px;
  border-radius: 10px;
}
.post{
  background-color: white;
  border-radius: 50px;
  padding: 10px;
  text-decoration: none; /* 下線を消す */
  color: inherit; /* デフォルトのリンクの色を維持する */
  font-weight: bold;
}
.menu{
  display: flex;
  align-items: center;

}
.item{
  background-color: blueviolet;
  color: white;
  padding: 5px 20px;
  margin: 0px 10px;
  /* border-radius: 10px; */
  border-radius: 0px 0px 10px 10px;
  cursor: pointer;
}
.body{
  /* background-color:darkgray; */
  background-image: url('city.png');
  background-size: cover;
  background-position: center;
}
.footer{
  background-color:blueviolet;
  color: white;
  height: 60px;
  border-radius: 10px;
  display: flex;
  justify-content: center; /* 横方向の中央揃え */
  align-items: center; /* 縦方向の中央揃え */
}

/*************************/
.menu .item.selected {
  background-color: lightgray;
}
.hidden{
  display:none;
}
/*************************/
/* app\views\news\show.html.erb */
.wrapper{
  display: flex;
  justify-content: center;
}
.show{
  background-color: white;
  width: 80%;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}
.actions{
  text-align: center;
}
.show-title{
  text-align: center;
  padding-top: 10px;
}
.show-author_name{
  text-align: center;
  padding-top: 10px;
}
.show-box{
  display: flex;
}
.show-item{
  background-color: blueviolet;
  color: white;
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 50px;
  font-size: 12px;
}
.show-items{
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.show-items .image-size-limit {
  max-width: 500px;
  max-height: 240px;
}
.show-items .video-size-limit {
  max-width: 500px;
  max-height: 240px;
}
.show-content{
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  /* border: 10px outset #31A9EE; */
  border: 10px outset blueviolet;
  line-height: 1.8; /* 行間を広げて読みやすく */
  font-size: 1.1rem; /* フォントサイズを少し大きく */
}
.show-menu{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.edit-link{
  background-color: blueviolet;
  color: white;
  border-radius: 50px;
  padding: 5px 20px;
  text-decoration: none; /* 下線を消す */
  font-weight: bold;
}
.show-delete{
  background-color: blueviolet;
  color: white;
  border-radius: 50px;
  padding: 5px 20px;
  text-decoration: none; /* 下線を消す */
  font-weight: bold;
  margin-left: 10px;
  box-shadow: none;
  border: none;
  cursor: pointer;
}

/*************************/
/* app\views\news\index.html.erb */
.more_list{
  display: flex;
  align-items:center;
  list-style-type: none;
}
.news-date{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items:center;
  /* padding: 5px 10px; */
}
.news-date-separator{
  list-style-type: none;
  background-color: #e2c6ff;
  border-radius: 20px;
  padding: 5px 10px;
}

/* 都道府県セレクトボックスのスタイル */
#prefecture-select {
  /* padding: 8px; */
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
}

#prefecture-select:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
/* ▼search */
/* 検索フォームのスタイル */
.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  padding: 10px;
}

.search-form select,
.search-form .search-input {
  margin-right: 10px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  border-radius: 10px;
}

.search-form select:focus,
.search-form .search-input:focus {
  border-color: blueviolet;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.search-form .search-btn {
  padding: 8px 20px;
  font-size: 16px;
  background-color: blueviolet;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-form .search-btn:hover {
  background-color: blueviolet;
}

.search-form .search-btn:focus {
  outline: none;
}
/* ▲search */

.news-item{
  background-color: #e2c6ff;
  padding: 10px 20px;
  margin: 5px 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 影の設定 */
}
.news-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: aliceblue; */
  height: 30px;
}
.news-body{
  background-color: white;
  border-radius: 15px;
  padding: 5px;
  margin-top: 5px;
}
.index-tagbox{
  display: flex;
  padding: 10px;
}
.news_favorites{
  background-color: blueviolet;
  color: white;
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 50px;
  font-size: 12px;
  font-weight: bold;
  border: none;
}
.flex-container {
  display: flex; /* Flexboxを使用して要素を横並びに配置 */
  align-items: center; /* 垂直方向（縦）の中央揃え */
}

.sticky_note {
  margin-left: 10px; /* ボタンとの間隔を調整 */
}

.sticky_note img.sticky_note_image {
  max-width: 150px; /* 画像の最大幅を指定 */
  height: auto; /* 高さを自動調整 */
}


.index-item{
  background-color: blueviolet;
  color: white;
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 50px;
  font-size: 12px;

}
.title-box{
  display: flex;
  justify-content: center;
  align-items: center;
}
.index-title{
  font-size: 24px;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.unread-icon{
  background-color: blueviolet;
  color: white;
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 50px;
  font-size: 12px;
  width: fit-content;
}
.name{
  text-align: center;
  padding-right: 10px;
}
.date{
  text-align: center;
  padding-right: 10px;
}
.index-itembox{
  display: flex;
  align-items: center;
}
.index-content{
  font-size: 16px;
  padding: 10px;
  min-width: 60%;
}
.index-items{
  display: flex;
  justify-content: space-around;
  min-width: 40%;
  padding-left: 10px;
}
.index-items .image-size-limit {
  max-width: 300px;
  max-height: 150px;
  padding: 10px;
}
.index-items .video-size-limit {
  max-width: 300px;
  max-height: 150px;
  padding: 10px;
}


/*************************/
/* app\views\comments\_comments.html.erb */
.comments_form{
  display: flex;
  justify-content: center;
  align-items: center;
}
.comments-wrapper {
  margin-top: 20px;
}

.container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.comment-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.comment-submit {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.comment-submit:hover {
  background-color: #45a049;
}

.comments {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comments h4 {
  margin-bottom: 15px;
}

.comment-item {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.comment-item:last-child {
  border-bottom: none;
}

.comment-item strong {
  color: #333;
}

.comment-item p {
  margin: 5px 0;
}